.finance > .Content {
  text-align: center;
  margin-left:300px;
  margin-top:43px;
}

.finance > .Content > .Content-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.finance > .Content > .Content-header > .Content-title {
  font-size: 1.5em;
}

.finance > .Content > .Content-intro {
  font-size: large;
}
